.categoryBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    z-index: 20;

    text-align: center;

    position: fixed;

    background-color: #41414159;
    border-radius: 1vw;
    
    width: 20%;
    height: 80vh;

    padding-top: 2%;
    margin-top: 10vh;

    transform: translateX(-35vw);

    transition: transform 450ms ease;
}

.categoryBar.Colapsed {
    transform: translateX(-300%);
}

.categoryBar.Colapsed .colapse {
    flex-direction: column;

    height: 10vh;
    width: 10%;
    background-color: #65449b;

    transform: translateX(600%);
}

.categoryBar.Colapsed .colapseIcon {
    transform: rotate(-90deg);
}

.colapse {
    display: flex;
    flex-direction: row;
    justify-content: center;

    cursor: pointer;
    border-radius: .5vw;

    width: 40%;
    height: 5vh;
    
    margin-bottom: 2vh;

    transition: background-color, height, width, flex-direction, transform;
    transition-duration: 450ms;
    transition-timing-function: ease;
}

.colapse:hover {
    background-color: #323232;
}

.colapseIcon {
    transform: rotate(90deg);
    transition: transform 450ms ease;
}

.categoriesFilter {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 10%;
    
    gap: 20%;
    margin-bottom: 20%;
}

.categoriesFilter p {
    width: 100%;

    transition: filter 350ms ease, transform 350ms ease, font-size 450ms ease;
}

.categoriesFilter p:hover {
    filter: drop-shadow(0 0 .35vw gray);
    transform: scale(1.2);
}


.categoryItem {
    font-size: var(--step-1);
    color: #bbbbbb;
    cursor: pointer;

    transition: color 350ms ease, font-size 350ms ease;
}

.categoryItem.Active {
    font-size: var(--step-2);
    color: #ffffff;

    filter: brightness(0 0 .35vw white);
}


.priceFilter {
    width: 80%;
}


.LowestPrice, .HighestPrice, .Ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 15% 0;

    height: 40%;
}

.Ratings {
    height: 15%;
    width: 80%;

    margin-block: auto;
}


.LowestPrice h3, .HighestPrice h3, .Ratings h3 {
    font-size: var(--step-1);
}

.LowestPrice h6, .HighestPrice h6, .Ratings h6 {
    font-size: var(--step-1);
    font-weight: 400;
}













.DragPriceLow, .DragPriceHigh, .DragRating {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1.5vw;
    background: #1d1d1d;

    border-radius: 20vw;
    opacity: .6;

    outline: none;

    transition: opacity 350ms ease;
}

.DragPriceLow:hover, .DragPriceHigh:hover, .DragRating:hover {
    opacity: 1; 
}

.DragPriceLow:hover, .DragPriceHigh:hover, .DragRating:hover {
    opacity: 1; 
}
  

.DragPriceLow::-webkit-slider-thumb, .DragPriceHigh::-webkit-slider-thumb, .DragRating::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;

    background: #65449b;
    cursor: pointer;

    transition: filter 350ms ease;
}

.DragRating::-webkit-slider-thumb {
    background: rgb(211, 151, 54);
}
  

.DragPriceLow::-webkit-slider-thumb:hover, .DragPriceHigh::-webkit-slider-thumb:hover{
    filter: drop-shadow(0 0 .25vw #65449b);
}

.DragRating::-webkit-slider-thumb:hover {
    filter: drop-shadow(0 0 .25vw rgb(211, 151, 54));
}