.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: relative;

  width: 100%;
  height: 80px;
  background-color: #1d1d1d;
  box-shadow: 0 1vh 2vw rgba(14, 14, 14, 0.85);

  z-index: 2;
}





.Links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 40%;
  height: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-weight: 400;
  font-size: var(--step-0);
  margin-bottom: 14%;

  width: 100%;
  height: 100%;

  transition: transform 350ms ease, font-size 350ms ease, font-weight 350ms ease;
}

.link:hover a {
  transform: translateY(15%);
  font-size: var(--step-1);
  font-weight: 600;
}

.Links .link a::before {
  display: block;
  content: "";
  
  background-color: #65449b;
  width: 100%;
  height: 10%;

  margin-bottom: auto;

  transform: scale(0, 1);
  transition: transform 350ms ease;
}

.link a:hover::before {
  transform: scale(1, 1) translateY(-150%);
}






.Settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 12%;

  padding: 0;
}

.UserIcon, .CartIcon {
  height: 50%;
  width: auto;
}

.CartIcon {
  transform: translateY(30%);

  transition: transform 250ms ease, filter 250ms ease;
}

.CartIcon:hover {
  transform: scale(1.2) translateY(30%) rotate(-15deg);

  filter: drop-shadow(0 0 .15vw white);
}


.Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  height: 100%;
  width: auto;
}


.CartAmount {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 900;

  background-color: #65449b;
  font-size: var(--step--1);

  height: 50%;
  width: 100%;
  border-radius: 100%;

  transform: translate(50%, -20%) scale(.8);
}




.CartInterface {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 800;
  top: 0;

  width: 100%;
  height: 100vh;

  transform: scale(1)  translateX(-1%);
  background-color: #04040481;

  transition: transform 550ms ease;
}

.CartInterface.Closed {
  display: flex;

  transform: scale(1) translateX(-100%);
}


.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.removeAll {
  height: 100%;
  width: auto;

  font-size: var(--step-0);

  border: none;
  background-color: rgba(176, 56, 56, 0.811);
  border-radius: .5vw;

  padding: .5vw 1.5vw;
}


.CartGUI {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90vw;
  height: 95vh;

  background-color: rgba(8, 8, 8, 0.908);

  border-radius: 1vw;
  padding-inline: 3vw;
  padding-block: 2vw;

  overflow-y: visible;
}


.CloseIcon {
  display: flex;
  margin: auto;
  margin-right: 0;

  fill: #fff;
  cursor: pointer;

  width: 3vw;
  height: 3vw;

  transition: transform 350ms ease, fill 350ms ease;
}

.CloseIcon:hover {
  fill: rgba(245, 115, 115, 0.811);
  transform: scale(1.5);
}







.ProductDisplay {
  display: grid;
  align-items: center;

  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, 20vh);
  grid-auto-flow: row;

  height: 80%;
  width: 90%;

  margin-top: 6vh;
  /* margin-block: auto; */

  overflow-Y: auto;

}




.CartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
}

.CartItem .ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 25%;

  margin-right: auto;
}

.CartItem img {
  position: relative;

  width: 100%;
  height: 100%;

  object-fit: contain;

  border-radius: .5vw;
  background-position: center;
}


.CartItemInfo {
  display: flex;
  flex-direction: column;

  height: 80%;
  width: 75%;

  margin-left: 4vw;
}

.CartItemInfo h1 {
  font-size: var(--step--1);
}

.CartItemInfo h4 {
  font-size: var(--step--1);
  font-weight: 500;
}

.CartItemInfo h6 {
  display: block;

  font-size: var(--step-0);
  font-weight: 800;

  margin-top: auto;
}



.TotalPrice {
  font-size: var(--step-1);
  font-weight: 400;

  margin-top: auto;
  margin-bottom: 0;
}