.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: relative;

  width: 100%;
  height: clamp(0.1rem, 4vw + 1rem, 20rem);
  background-color: #1d1d1d;
  box-shadow: 0 1vh 2vw rgba(14, 14, 14, 0.85);

  z-index: 2;
}





.Links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 40%;
  height: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  text-decoration: none;
  font-weight: 400;
  font-size: var(--step-0);

  width: 100%;
  height: 100%;

  margin-bottom: auto;

  transition: transform 350ms ease, font-size 350ms ease, font-weight 350ms ease;
}

.link:hover a {
  transform: translateY(5%);
  font-size: var(--step-1);
  font-weight: 600;
}

.Links .link a::before {
  display: block;
  content: "";
  align-self: flex-end;
  
  background-color: #65449b;
  width: 100%;
  height: 7%;

  transform: scale(0, 1) translateY(-450%);
  transition: transform 350ms ease;
}

.link a:hover::before {
  transform: scale(1, 1) translateY(-450%);
}






.Settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 12%;

  padding: 0;
}

.UserIcon, .CartIcon {
  height: 50%;
  width: auto;
}

.CartIcon {
  transform: translateY(30%);

  transition: transform 250ms ease, filter 250ms ease;
}

.CartIcon:hover {
  transform: scale(1.2) translateY(30%) rotate(-15deg);

  filter: drop-shadow(0 0 .15vw white);
}


.Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  height: 100%;
  width: auto;
}


.CartAmount {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 900;

  background-color: #65449b;
  font-size: var(--step--1);

  height: 50%;
  width: 100%;
  border-radius: 100%;

  transform: translate(50%, -20%) scale(.8);
}




.CartInterface {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 800;
  top: 0;

  width: 100%;
  height: 100vh;

  transform: scale(1)  translateX(-1%);
  background-color: #04040481;

  transition: transform 550ms ease;
}

.CartInterface.Closed {
  display: flex;

  transform: scale(1) translateX(-100%);
}


.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.removeAll {
  height: 100%;
  width: auto;

  font-size: var(--step-0);
  font-weight: 400;

  cursor: pointer;

  background-color: #fff;
  color: #1d1d1d;

  border: none;
  border-radius: .5vw;

  padding: .5vw 1.5vw;

  transition: transform, background-color, font-weight;
  transition-duration: 350ms;
  transition-timing-function: ease;
}

.removeAll:hover {
  font-weight: 600;

  background-color: rgba(207, 84, 84, 0.811);

  transform: scale(1.2);
}


.CartGUI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 90vw;
  height: 95vh;

  background-color: rgba(8, 8, 8, 0.908);

  border-radius: 1vw;
  padding-inline: 3vw;
  padding-block: 2vw;

  overflow-y: hidden;
  overflow-x: hidden;
}


.CloseIcon {
  display: flex;
  margin: auto;
  margin-right: 0;

  fill: #fff;
  cursor: pointer;

  width: 3vw;
  height: 3vw;

  transition: transform 350ms ease, fill 350ms ease;
}

.CloseIcon:hover {
  fill: rgba(245, 115, 115, 0.811);
  transform: scale(1.5);
}







.ProductDisplay {
  display: grid;
  align-items: center;

  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, 10vw);
  grid-auto-flow: row;

  row-gap: 2vw;

  height: 80%;
  width: 100%;

  padding-inline: 2%;
  margin-top: 6vh;
  /* margin-block: auto; */

  overflow-Y: auto;

  transition: transform 550ms ease, height ease 550ms;
}




.CartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
}

.CartItem .ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 25%;

  margin-right: auto;
}

.CartItem img {
  position: relative;

  width: 100%;
  height: 8vw;

  object-fit: contain;

  background-position: center;
}


.CartItemInfo {
  display: flex;
  flex-direction: column;

  height: 80%;
  width: 75%;

  margin-left: 4vw;
}



.CartItemHead {
  display: flex;
  flex-direction: row;
}

.CartItemHead button {
  margin-left: auto;
  margin-right: 1vw;

  padding: .25vw;
  cursor: pointer;

  background: none;
  border: none;
}

.trashIcon {
  height: 100%;
  fill: rgba(255, 255, 255, 0.811);

  transition: transform 200ms ease, fill 200ms ease;
}

.CartItemHead button:hover .trashIcon {
  transform: scale(1.5);
  fill: rgba(245, 115, 115, 0.811);
}





.CartItemInfo h1 {
  font-size: var(--step-0);
  font-weight: 600;
}

.CartItemInfo h4 {
  font-size: var(--step-0);
  font-weight: 500;
}

.CartItemInfo h6 {
  display: block;

  font-size: var(--step-1);
  font-weight: 800;

  margin-top: auto;
}



.CartFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 90%;

  transition: margin-block 550ms ease;
}


.TotalPrice {
  font-size: var(--step-2);
  font-weight: 400;

  margin-top: auto;
  margin-bottom: 0;

}


.NextButton, .PrevButton {

  font-size: var(--step-1);

  color: #1d1d1d;
  background-color: #fff;
  border: none;

  cursor: pointer;
  
  border-radius: .25vw;
  padding: .25vw 2vw;

  transition: transform 350ms ease, background-color 350ms ease;
}


.NextButton:hover, .PrevButton:hover {
  transform: scale(1.2);
  background-color: rgb(118, 189, 93);
}

.PrevButton:hover {
  background-color: rgb(216, 67, 67);
}










.CartInterface.payment .ProductDisplay {
  transform: translateX(-120%);
  height: 0%;
}

.CartInterface.payment .removeAll {
  transform: translateX(-200%)
}



.CartInterface.payment .CartFooter {
  margin-block: 1vw;
  margin-top: 10vh;
}








.checkOut {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  height: 60vh;
}

.checkOut h1, .checkOut h5 {
  transform: translateY(-10vh);
}

.checkOut h1 {
  font-size: var(--step-4);
}

.checkOut h5 {
  font-weight: var(--step-2);
  font-weight: 300;
}







































.MobileBar {
  width: 100%;
  height: 100vh;

  display: flex ;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  position: fixed;
  z-index: 250;

  transition: height 350ms ease 350ms;
}

.barCollapse {
  height: 100vh;
}

.MobileBar .header {
  position: absolute;
  z-index: 150;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: clamp(0.1rem, 7vh + 1rem, 1000rem);

  background-color: #1d1d1d;

  padding: 0 8%;
}


.burguer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: clamp(4.5rem, 10vw + 1rem, 5%);
  height: 60%;
}

.burguer span {
  display: inline-block;

  width: 100%;
  height: 13%;
  border-radius: 2vw;

  background-color: #65449b;

  transition-property: background-color, transform;
  transition: 250ms ease;
}



.Navlinks,
.Navlinks li,
.Navlinks a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Navlinks {
  width: 50%;
  height: 100%;

  list-style: none;
  background-color: #1d1d1d;

  margin: auto 0;
  padding-top: 20vh;

  transform: translateX(100%);

  transition-property: transform;
  transition: 350ms ease;
}

.Navlinks li {
  width: 20rem;
  height: 10vh;

  pointer-events: none;

  transition-property: transform;
  transition-duration: 250ms;
  transition-duration: ease;
}


.Navlinks a {
  pointer-events: auto;

  font-size: var(--step-0);
  font-weight: 500;
  width: 12rem;

  transition-property: font-size, font-weight, color, transform;
  transition-duration: 250ms;
  transition-timing-function: 350ms;
}




.linkActive a {
  font-weight: 700;
  font-size: var(--step-1);

  color: #fff;
}





.Hide {
  transform: translateX(200%);
}

.LinksBG {
  position: absolute;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(1vw);
  -webkit-backdrop-filter:blur(1vw);
  background-image: linear-gradient(180deg, rgba(98, 20, 124, 0.5), rgba(255, 255, 255, 0));

  transition-property: transform, opacity;
  transition: 350ms ease, 350ms ease;

}

.HideBG {
  transform: translateX(100%);
  opacity: 0;
}


.burguerActive span {
  background-color: var(--color-terciary);
}

.burguerActive span:nth-child(2) {
  transform: translateX(-15%);
}

.burguerActive span:nth-child(3) {
  transform: translateX(-30%);
}





.MobileBar .Settings {
  flex-direction: column;
  justify-self: flex-end;

  margin-top: 10vh;

  height: 25vh;
  width: 100%;
}

.MobileBar .UserIcon, .MobileBar .CartIcon {
  height: clamp(0.1rem, 4vw + 1.5rem, 20rem);
}

.MobileBar .CartAmount {
  width: clamp(0.1rem, 2vw + 1.5rem, 20rem);
  height: clamp(0.1rem, 2vw + 1.5rem, 20rem);
}





@media (max-width: 1000px) and (orientation: landscape) {
  .burguer  {
      width: 4vw;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .burguer  {
      width: 6vw;
  }
}