.ProductSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20vw);
  border: 2px solid blue;
  width: 80vw;
}

.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 500px;

  backdrop-filter: blur(1vw);
  -webkit-backdrop-filter: blur(1vw);
  box-shadow: 0 0.25vw 1vw 0 rgba(41, 41, 43, 0.83);
  background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.248),
    rgba(255, 255, 255, 0.056)
  );
  border-radius: 0.65vw;
}

.ProductCardImage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;

  clip-path: inset(0 0 0 0);
}

/* .ProductCardImage .ImageView,
.ProductCardImage .ImageBlur {
    position: relative;
    height: 100%;
} */

.ProductCardImage .ImageView {
  position: relative;
  height: 100%;
  width: auto;

  z-index: 5;
}

.ProductCardImage .ImageBlur {
  position: absolute;
  height: 50%;
  width: 100%;

  border-top-left-radius: 2vw;
  border-top-right-radius: 4vw;

  filter: blur(1vw);
  z-index: 1;
}

.ProductCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 50%;
  border: 2px solid purple;

  padding: 4%;
}

.ProductCardInfo header,
.ProductCardInfo footer {
  width: 100%;
  border: 2px solid gold;
}

.ProductCard footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.ProductCardInfo header {
  width: 100%;
  height: 50%;
}

.ProductCardInfo .title {
  font-size: clamp(0.1rem, 0.6vw + 1rem, 5rem);
  font-weight: 700;
}

.ProductCardInfo .price {
  font-size: clamp(0.1rem, 0.5vw + 1rem, 5rem);
  font-weight: 500;
}
.ProductCardInfo .originalPrice {
  font-size: clamp(0.1rem, 0.2vw + 1rem, 5rem);
  text-decoration: line-through;
  font-weight: 400;
}


.ProductCardInfo .rate {
    width: 30%;
}

.ProductCardInfo .fullBar,
.ProductCardInfo .ratingBar {
    display: block;
    width: 100%;
    height: 15px;

    border-radius: 50vw;
}

.ProductCard .fullBar {
    background-color: #fff;
}

.ProductCard .ratingBar {
    background: linear-gradient(90deg, rgba(248,184,78,1) 0%, rgba(194,134,36,1) 100%);
}