.ProductSection {
  display: grid;
  margin: 0 auto;
  margin-top: 10vh;

  position: relative;
  z-index: 20;

  grid-template-columns: repeat(auto-fit, minmax(15rem, 15vw));
  grid-auto-rows: clamp(23rem, 25vw, 200rem);
  justify-content: space-evenly;
  gap: 5vw;
  row-gap: 2%;

  border: 2px solid blue;
  width: 65vw;

  transform: translateX(12.5vw);
}

.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 30;
  cursor: pointer;

  width: 100%;
  height: 85%;

  backdrop-filter: blur(1vw);
  -webkit-backdrop-filter: blur(1vw);
  box-shadow: 0.5vw 0.5vw 1vw 0 rgba(10, 10, 10, 0.85);
  background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.248),
    rgba(255, 255, 255, 0.056)
  );
  border-radius: 0.65vw;

  transition: transform 550ms ease, border-radius 550ms ease, height 550ms ease;
}

.cardRedirect {
  height: 100%;
  width: 100%;
  transition: height 450ms ease;
}

.ProductCardImage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;

  clip-path: inset(0 0 0 0);
}

/* .ProductCardImage .ImageView,
.ProductCardImage .ImageBlur {
    position: relative;
    height: 100%;
} */

.ProductCardImage .ImageView {
  position: relative;
  height: 100%;
  width: auto;

  z-index: 5;
}

.ProductCardImage .ImageBlur {
  position: absolute;
  height: 50%;
  width: 100%;

  border-top-left-radius: 2vw;
  border-top-right-radius: 4vw;

  filter: blur(1vw);
  z-index: 1;
}

.ProductCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 50%;

  padding: 6%;

  transition: transform 350ms ease;
}

.ProductCardInfo header,
.ProductCardInfo footer {
  width: 100%;
}

.ProductCard footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.ProductCardInfo header {
  width: 100%;
  height: 50%;
}

.ProductCardInfo .title {
  height: auto;
  font-size: var(--step--1);
  font-weight: 700;
}

.ProductCardInfo .category {
  font-size: var(--step--2);
  font-weight: 400;
}

.ProductCardInfo .price {
  font-size: var(--step-1);
  font-weight: 500;
}
.ProductCardInfo .originalPrice {
  font-size: var(--step--1);
  text-decoration: line-through;
  font-weight: 400;

  margin-left: 2%;
}


.ProductCardInfo .rate {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: var(--step--1);
}

.ProductCardInfo .fullBar,
.ProductCardInfo .ratingBar {
    display: block;
    width: 100%;
    height: clamp(0.1rem, 1vw, 1rem);
    margin-block: 10%;

    border-radius: 50vw;
}

.ProductCard .fullBar {
    background-color: #fff;
}

.ProductCard .ratingBar {
    background: linear-gradient(90deg, rgba(248,184,78,1) 0%, rgba(194,134,36,1) 100%);
}



.ProductCard .addCart {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  background-color: #65449b;
  cursor: pointer;

  width: 100%;
  height: 0%;

  font-size: var(--step-0);
  font-weight: 700;

  transition: opacity 250ms, height 250ms, background-color 250ms;
  transition-timing-function: ease-in;
}

.ProductCard:hover .addCart {
  opacity: 1;
  height: 15%;
}

.ProductCard:hover {
  transform: scale(1.2, 1.2);
  border-radius: .65vw .65vw 0 0;
  height: 100%;
}

.ProductCard:hover .cardRedirect {
  height: 85%;
}


.addCart:hover {
  background-color: #7b5fa9;
}