.bgSvg {
    position: absolute;
    z-index: 0;
    
    margin: 0 auto;
    width: 120vw;
    top: 10vh;

    transform: translateX(-10vw);
    filter: blur(2vw);
}

.bgSvg:nth-of-type(2) {
    transform: scaleY(-1) translateY(-130%);
}

.bgSvg:nth-of-type(3) {
    transform: translateY(260%);
}

.bgSvg:nth-of-type(4) {
    transform: scaleY(-1) translateY(-390%);
}


.GoldHighlighted {
    display: inline;
    color: #F8B84E;
}

.productHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    z-index: 50;
    
    width: 90vw;
    height: 100vh;

    padding: 2.5%;
    margin: 7% auto;

    backdrop-filter: blur(1vw);
    -webkit-backdrop-filter: blur(1vw);
    box-shadow: 0.5vw 0.5vw 3vw rgba(22, 22, 22, 0.775);
    background-image: linear-gradient(
      150deg,
      rgba(87, 87, 87, 0.207),
      rgba(16, 16, 16, 0.056)
    );
    border-radius: 0.65vw;
}

.title {
    width: 80%;

    text-align: center;

    font-size: var(--step-2);
    font-weight: 600;
}


.mainProductInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 4%;

    width: 100%;
    height: 100%;

}


.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 40%;
    margin-top: 5%;
}


.mainImageContainer {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 80%;
    background-color: #fff;
    border-radius: 1vw;
    
    
    clip-path: inset(0 0 0 0);

}

.selectedImage {
    position: relative;

    width: 100%;
    object-fit: contain;
    z-index: 5;
    border-radius: 1vw;

    animation-name: appear;
    animation-duration: 450ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.selectedImageBlur {
    position: absolute;
    width: 40%;
    height: 58%;

    filter: blur(1.5vw);
    z-index: 1;
    border-radius: 4vw;

    animation-name: appear;
    animation-duration: 450ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    transition: opacity 350ms ease;
}

@keyframes appear {
    from { 
        transform: translateX(-100%); 
        opacity: 0;
    }
    to { 
        transform: translateX(0%); 
        opacity: 1;
    }
}







.tinyImagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    height: 20%;
    width: 100%;
}

.tinyImageFrame {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 15%;
    height: 80%;

    border-radius: .3vw;

    background-color: #fff;

    transition: transform 250ms ease;
}
.tinyImageFrame:hover {
    transform: scale(1.1, 1.1);
}

.tinyImages {
    object-fit: contain;
    width: 100%;
    height: 100%;

    border-radius: .3vw;
}






.productBuy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 55%;
    height: 80%;
    padding: 1%;
    border-radius: 1vw;

    background: linear-gradient(130deg, rgba(99, 64, 154, 0.604) -0.01%, rgba(37, 15, 72, 0.453) 100.01%);
    box-shadow: .5vw .5vw 1vw rgba(16, 16, 16, 0.686);


    margin-top: 5%;
    
}




.buyInfo, .productComplementar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    width: 45%;
    height: 100%;

    padding: 3%;
}

.productComplementar {
    width: 40%;
}










.itemPrice h2 {
    font-size: var(--step-0);
    font-weight: 400;

    text-decoration: line-through;
    color: #CECECE;
}

.itemPrice h3 {
    font-size: var(--step-3);
    font-weight: 400;
}


.productAwards {
    margin-bottom: 30%;
}

.productAwards p {
    font-size: var(--step-0);
    text-align: center;
}



.selectAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: auto;
    margin-bottom: 15%;
    gap: 5%;
}

.selectAmount input {
    width: 5vw;
    height: 2.5vw;

    font-size: var(--step-2);
    font-weight: 600;
    color: #1d1d1d;

    border-radius: .25vw;

    text-align: center;
    outline: none;
    border: none;
}

.selectAmount .arrow {
    width: 2vw;
    transform: rotate(90deg);
    cursor: pointer;

    transition: transform 250ms ease;
}

.selectAmount .arrow path {
    transition: stroke 250ms ease, filter 350ms ease;
}

.selectAmount .arrow:last-child {
    transform: rotate(-90deg);
}

.selectAmount .arrow.ActivatedLeft {
    transform: scale(1.3, 1.3) rotate(90deg) translateY(30%);
}
.selectAmount .arrow.ActivatedLeft path {
    stroke: #ffffff;
    filter: drop-shadow(0 0 .15vw white);
}

.selectAmount .arrow.ActivatedRight {
    transform: scale(1.3, 1.3) rotate(-90deg) translateY(30%);
}

.selectAmount .arrow.ActivatedRight path {
    stroke: #ffffff;
    filter: drop-shadow(0 0 .15vw white);
}



.productBuy .addCart {
    width: 80%;
    height: 3vw;

    border: none;
    border-radius: .5vw;
    
    color: #ffffff;
    font-size: var(--step-0);
    font-weight: 700;
    background-color: #1d1d1d;
    
    cursor: pointer;
    user-select: contain;

    transition: transform 250ms ease, background-color 250ms ease;
}

.productBuy .addCart:hover {
    transform: scale(1.3, 1.3);
    background-color: rgba(131, 95, 191, 0.604);
}




.productBuy .rate {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-top: 20%;

    text-align: center;
    font-weight: 400;
    font-size: var(--step-1);
}

.productBuy .fullBar,
.productBuy .ratingBar {
    display: block;
    width: 80%;
    height: clamp(0.1rem, 1vw, 1rem);

    border-radius: 50vw;
}

.productBuy .fullBar {
    margin-bottom: 10%;
}

.productBuy .fullBar {
    background-color: #fff;
}

.productBuy .ratingBar {
    background: linear-gradient(90deg, rgba(248,184,78,1) 0%, rgba(194,134,36,1) 100%);
}























.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    z-index: 20;


    width: 90vw;
    height: auto;


    margin: 0 auto;
    padding-top: 10vh;
    border-radius: 1vw;

    background-color: #1d1d1dad;
}

.aboutProduct {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 10vh;

    width: 90%;
    height: 100%;
}









.descriptionImages {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.productImage {
    width: 100%;
}

.moreInfo {
    width: 60%;
}


.bulletPoints p {
    margin-bottom: 2%;
}



.bulletPoints, .specifications, .reviews {
    margin-block: 5%;
    padding: 5%;

    line-height: 150%;
}

.bulletPoints h1, .specifications h1, .reviews h1 {
    font-size: var(--step-4);
    margin-bottom: 5vh;
}

.bulletPoints p {
    font-size: var(--step-1);
}









.reviews h2 {
    font-size: var(--step-1);
    font-weight: 600;

    margin-bottom: 2.5%;
}




.reviews .reviewFragment {
    margin-block: 10%;
}


.reviewFragment p {
    white-space: pre-line;
}












@media (max-width: 1200px) {
    .productHeader {
        margin-top: 15vh;
        height: 80vh;
    }

    .productBuy {
        position: relative;
        z-index: 12200;
    }


    .descriptionImages {
        width: 30%;
    }

    .moreInfo {
        width: 70%;
    }
}


@media (max-width: 900px) {
    .productHeader {
        height: 70vh;
    }
}


@media (max-width: 700px) {
    .mainProductInfo {
        flex-direction: column;
        align-items: center;
    }

    .productHeader .images {
        width: 80%;
    }

    .productBuy {
        width: 80%;
    }

    
    .bulletPoints p {
        line-height: 140%;
        margin-bottom: 2%;
    }

    
}


@media (max-width: 500px) {
    .aboutProduct {
        flex-direction: column-reverse;
    }

    .descriptionImages, .moreInfo {
        width: 100%;
    }

    .specifications, .reviewFragment {
        font-size: var(--step-2);
    }

    
    .productHeader {
        height: auto;
    }
    .images {
        height: 30vh;
    }

    .productBuy {
        height: 25vh;

        background: linear-gradient(130deg, rgba(99, 64, 154, 1) -0.01%, rgba(37, 15, 72, 0.7) 100.01%);
    }

    .selectAmount input {
        height: 6vw;
        width: 8vw;
    }

    .selectAmount .arrow {
        width: 8vw;
    }
    

    .productBuy .addCart {
        height: 6vw;
        width: 100%;
    }



    

    .itemPrice h2 {
        font-size: var(--step-2);
        font-weight: 400;

        text-decoration: line-through;
        color: #CECECE;
    }

    .itemPrice h3 {
        font-size: var(--step-5);
        font-weight: 400;
    }

    .productAwards p {
        font-size: var(--step-1);
        text-align: center;
    }


    
}


@media (max-width: 400px) {
    .productBuy {
        flex-direction: column;

        height: 40vh;
    }

    .buyInfo, .productComplementar {
        width: 80%;
    }

    .productComplementar .rate {
        margin-top: 0;
    }


    .aboutSection {
        padding-top: 5vh;
    }

    .aboutProduct {
        margin-top: 5vh;
    }
}