@font-face {
  font-family: "Noto Sans Display";
  src: url(/styles/Fonts/NotoSansDisplay-Thin.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-ExtraLight.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Light.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Regular.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Medium.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-SemiBold.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Bold.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-ExtraBold.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Black.ttf) format(ttf);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  color: rgb(233, 233, 233);
  font-family: "Noto Sans Display", sans-serif;
}

.MainBackground {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  position: relative;

  z-index: 0;

  overflow: hidden;
}

.bgSvg {
  position: absolute;
  z-index: 1;
  
  margin: 0 auto;
  width: 80vw;
  top: 10vh;

  transform: translateX(10vw);
  filter: blur(30px);
}