@font-face {
  font-family: "Noto Sans Display";
  src: url(/styles/Fonts/NotoSansDisplay-Thin.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-ExtraLight.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Light.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Regular.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Medium.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-SemiBold.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Bold.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-ExtraBold.ttf) format(ttf),
       url(/styles/Fonts/NotoSansDisplay-Black.ttf) format(ttf);
}

:root {
  --step--2: clamp(0.72rem, calc(0.20rem + 0.79vw), 0.35rem);
  --step--1: clamp(0.90rem, calc(0.22rem + 1.02vw), 0.42rem);
  --step-0: clamp(0.50rem, calc(0.25rem + 1.32vw), 1.13rem);
  --step-1: clamp(0.60rem, calc(0.28rem + 1.71vw), 1.41rem);
  --step-2: clamp(0.72rem, calc(0.31rem + 2.20vw), 1.76rem);
  --step-3: clamp(0.86rem, calc(0.33rem + 2.83vw), 2.20rem);
  --step-4: clamp(1.04rem, calc(0.36rem + 3.62vw), 2.75rem);
  --step-5: clamp(1.24rem, calc(0.37rem + 4.64vw), 3.43rem);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  color: rgb(233, 233, 233);
  font-family: "Noto Sans Display", sans-serif;
}

.MainBackground {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  position: relative;

  z-index: 0;
  overflow-y: scroll;
}

.bgSvg {
  position: absolute;
  z-index: 1;
  
  margin: 0 auto;
  width: 80vw;
  top: 10vh;

  transform: translateX(10vw);
  filter: blur(30px);
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}






::-webkit-scrollbar {
  background-color: #1d1d1d;
  border-radius: 5vw;

  width: 1vw;
  height: 1.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: #65449B;
  border-radius: 50px;
  border: .2vw solid #1d1d1d;

}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--unselected);
}

::selection {
  background-color: var(--unselected);
}


@media (max-width: 1600px) {

  :root {
      --step--2: clamp(0.84rem, calc(0.76rem + 0.11vw), 0.78rem);
      --step--1: clamp(1.05rem, calc(0.89rem + 0.22vw), 0.94rem);
      --step-0: clamp(1.13rem, calc(1.05rem + 0.37vw), 1.31rem);
      --step-1: clamp(1.35rem, calc(1.24rem + 0.57vw), 1.64rem);
      --step-2: clamp(1.62rem, calc(1.45rem + 0.84vw), 2.05rem);
  }
}

@media (max-width: 1050px) {

  :root {
      --step--2: clamp(0.64rem, calc(0.35rem + 0.40vw), 0.43rem);
      --step--1: clamp(0.80rem, calc(0.41rem + 0.55vw), 0.52rem);
      --step-0: clamp(0.63rem, calc(0.48rem + 0.73vw), 1.00rem);
      --step-1: clamp(0.75rem, calc(0.55rem + 0.98vw), 1.25rem);
      --step-2: clamp(0.90rem, calc(0.64rem + 1.29vw), 1.56rem);
  }
}

@media (max-width: 880px) {

  :root {
      --step--2: clamp(0.48rem, calc(0.30rem + 0.26vw), 0.35rem);
      --step--1: clamp(0.60rem, calc(0.35rem + 0.36vw), 0.42rem);
      --step-0: clamp(0.50rem, calc(0.40rem + 0.49vw), 0.75rem);
      --step-1: clamp(0.60rem, calc(0.47rem + 0.66vw), 0.94rem);
      --step-2: clamp(0.72rem, calc(0.54rem + 0.88vw), 1.17rem);
  }
}

@media (max-width: 450px) {

  :root {
      --step--2: clamp(0.32rem, calc(0.18rem + 0.20vw), 0.22rem);
      --step--1: clamp(0.40rem, calc(0.21rem + 0.27vw), 0.26rem);
      --step-0: clamp(0.31rem, calc(0.24rem + 0.37vw), 0.50rem);
      --step-1: clamp(0.38rem, calc(0.28rem + 0.49vw), 0.63rem);
      --step-2: clamp(0.45rem, calc(0.32rem + 0.65vw), 0.78rem);
    }

}

@media (min-width: 2100px) {

  :root {
      --step--2: clamp(1.12rem, calc(0.71rem + 0.58vw), 0.82rem);
      --step--1: clamp(1.40rem, calc(0.83rem + 0.80vw), 0.99rem);
      --step-0: clamp(1.19rem, calc(0.97rem + 1.10vw), 1.75rem);
      --step-1: clamp(1.43rem, calc(1.13rem + 1.49vw), 2.19rem);
      --step-2: clamp(1.71rem, calc(1.31rem + 2.00vw), 2.73rem);
      --step-3: clamp(2.05rem, calc(1.52rem + 2.67vw), 3.42rem);
      --step-4: clamp(2.46rem, calc(1.76rem + 3.53vw), 4.27rem);
      --step-5: clamp(2.96rem, calc(2.02rem + 4.65vw), 5.34rem);
  }
}